<%- include("partials/head", {styles: ['ingreso', 'style-carrito']}) %>
<body>
    <%- include("partials/header") %>
    <main class="main-carrito">
        <body>
            <div>
              <h1 class = "error-404">Error 404: Página no encontrada</h1>
              <p class="error-text">Lo sentimos, la página que estás buscando no existe.</p>
              <img class="error-image" src="/images/curioso.jpg" alt="Gato Mirando" />
              <div class= alignBot>
                <a href="/"><button class = "error-button">Regresar a la home</button></a>
              </div>
            </div>
          </body>
    </main>
    <%- include("partials/footer") %>
</body>

</html>