<%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <!-- main carrito -->
    <main class="main-carrito">
        <section class="first-seccion">
            <article class="first-article">
                <img src="https://illustoon.com/photo/dl/7262.png" alt="">
                <div class="art-one">
                    <h2>MANUELITA DE PEHUAJÓ</h2>
                    <p>"El dolor de existir</p>
                </div>
                    <div class="price">
                        <p class="price-par">$10.000</p>
                    </div>
            </article>
            <article class="first-article">
                <img src="https://illustoon.com/photo/dl/7262.png" alt="">
                <div class="art-one">
                    <h2>MANUELITA DE PEHUAJÓ</h2>
                    <p>"El dolor de existir</p>
                </div>
                    <div class="price">
                        <p class="price-par">$10.000</p>
                    </div>
            </article>
            <article class="first-article">
                <img src="https://illustoon.com/photo/dl/7262.png" alt="">
                <div class="art-one">
                    <h2>MANUELITA DE PEHUAJÓ</h2>
                    <p>"El dolor de existir</p>
                </div>
                    <div class="price">
                        <p class="price-par">$10.000</p>
                    </div>
            </article>
        </section>
        <section class="second-section">
            <article class="first-price">
                <p>Subtotal</p>
                <p>$10.000</p>
            </article>
            <article class="send-price">
                <p>Envio gratuito</p>
                <p>$ 0</p>
            </article>
            <article class="total-price">
                <p>Total</p>
                <p>$10.000</p>
            </article>
        </section>
        <div class="boton-carrito">
            <button type="submit">Compra Ahora</button>
        </div>
        </main>
        <%- include("partials/footer") %>
</body>
</html>