<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style-carrito.css">
    <title>Carrito de compras - Müller Gallery</title>
</head>
<body>
<!-- header -->
    <main class="main-carrito">
        <section class="first-seccion">
            <article class="first-article">
                <img src="https://illustoon.com/photo/dl/7262.png" alt="">
                <div class="art-one">
                    <h2>MANUELITA DE PEHUAJÓ</h2>
                    <p>"El dolor de existir</p>
                    <p>$10.000</p>
                </div>
            </article>
            <article class="second-article">
                <img src="https://illustoon.com/photo/dl/7262.png" alt="">
                <div class="art-two">
                    <h2>MANUELITA DE PEHUAJÓ</h2>
                    <p>"El dolor de existir</p>
                    <p>$10.000</p>
                </div>
            </article>
            <article class="third-article">
                <img src="https://illustoon.com/photo/dl/7262.png" alt="">
                <div class="art-three">
                    <h2>MANUELITA DE PEHUAJÓ</h2>
                    <p>"El dolor de existir</p>
                    <p>$10.000</p>
                </div>
            </article>
        </section>
        <section class="second-section">
            <article>
                <p>Subtotal</p>
                <p>$10.000</p>
            </article>
            <article>
                <p>Envio gratuito</p>
                <p>0</p>
            </article>
            <article>
                <p>Total</p>
                <p>$10.000</p>
            </article>
        </section>
    </main>
<!-- footer -->
</body>
</html>