<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styleDetalleProducto.css" />
    <title>Müller Gallery</title>
</head>
<body>
    <header>
        <div class=" top-header">
            <img src="/image/logo.svg" alt="Logo de Müller Gallery"/>
        </div>
        <nav>
            <div class="submit"><i class="fa fa-search"></i></div>
            <div><i class="fas fa-shopping-cart"></i></div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main>
        <div>
        <h1 class="titulo">Nombre Autor</h1>
        <h2 class="nombre-pintura">Nombre de pintura</h2>
        <p class="Descripcion">Lápices de colores sobre servilleta, 2023.</p>
        <p class="Descripcion">Obra original, de 20 x 20 cm.</p>
            <img src="image/pintura.jpg" alt="imagen-pintura"/>
            <div class=" main-article">
            <p class="precio">$Precio</p>
            <p class="Descripcion"> Lista para enviar</p>
            <p class="Descripcion">Envío gratuito garantizado en las próximas 24 horas</p>
            </div>
        </div>
        <a href="/carritoCompras"><button type="submit"  class="buttom">Compra ahora</button></a>
        <button type="submit" class="buttom">Agregar al carrito de compras</button>
        <p>Nombre de la pintura</p>
        <p>Descripcion de la pintura</p>
    </main>
    <footer>
        <h2>Encontranos en nuestras redes</h2>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-pinterest"></i>
        <p>Müller Gallery está abierta al público los días martes de 1 a.m. a 00.30 a.m.</p>
        <p>Dirección secreta, obtener indicaciones exclusivamente vía recomendación.</p>
        <p>Copywright © 2023, Proyecto Final Muller Gallery By G1</p>
    </footer>
</body>
</html>