<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="images/logo-favicon.ico">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style-carrito.css">
        <link rel="stylesheet" href="/css/ingreso.css">
        <title>Formulario de registro - Müller Gallery</title>
    </head>
    <body>
        <!-- header -->
        <header class="main-header">
            <!-- logo -->
            <div class=" top-header">
                <a href="/"><img src="/images/logo.svg" alt="Logo de Müller Gallery" /></a>
            </div>
            <!-- menu desktop -->
            <nav class="nav-carro">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/detalleProducto">detalleProducto</a></li>
                    <li><a href="/carritoCompras">carritoCompras</a></li>
                    <li><a href="/formIngreso">formIngreso</a></li>
                    <li><a href="/formRegistro">formRegistro</a></li>
                </ul>
            </nav>
            <!-- menu responsivo -->
            <div class="icon-menu">
                <div class="lupa-search">
                    <i class="fa fa-search"></i>
                </div>
                <div class="icon-carrito">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
        <main class="main-carrito">
            <form action="">
                <h1>Crea tu cuenta</h1>
                <div class="container">
                    <div class="form-container">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre-reg" id="nombre">
                    </div>
                    <div class="form-container">
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido-reg" id="apellido">
                    </div>
                    <div class="form-container">
                        <label for="email">Correo electronico</label>
                        <input type="email" name="email-reg" id="email">
                    </div>
                    <div class="form-container">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password-reg" id="password">
                    </div>
                    <div class="form-container">
                        <label for="password">Repetir contraseña</label>
                        <input type="password" name="password-reg" id="password">
                    </div>
                </div>
                <div class="boton-carrito">
                    <button type="reset">Borrar</button>
                    <button type="submit">Crear</button>
                </div>
            </form>
        </main>
        <!-- footer -->
        <footer class="footer-carrito">
            <h2>Encontranos en nuestras redes</h2>
            <div class="icon-links">
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.finterest.com" target="_blank"><i class="fab fa-pinterest"></i></a>
            </div>
            <p>Müller Gallery está abierta al público los días martes de 1 a.m. a 00.30 a.m.</p>
            <p>Dirección secreta, obtener indicaciones exclusivamente vía recomendación.</p>
            <p>Copywright © 2023, Proyecto Final Muller Gallery By G1</p>
        </footer>
</body>

</html>