<%- include("partials/head", {styles: ['ingreso','style-carrito']}) %>
<body>
    <%- include("partials/header") %>
    <main class="main-carrito">
        <form action="/products/create" method="post">
            <h1>Crea tu obra</h1>
            <div class="container">
                <div class="form-container">
                    <label for="name">Nombre de la obra</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="form-container">
                    <label for="prices">Precio $</label>
                    <input type="text" name="prices" id="prices">
                </div>
                <div class="form-container">
                    <label for="description">Descripcion</label>
                    <input type="text" name="description" id="description">
                </div>
            <div class="boton-carrito">                    
                <button type="submit" value="Registrar">Crear</button>
            </div>
        </form>
    </main>
    <%- include("partials/footer") %>
</body>
</html>