<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home.html">home</a></li>
            <li><a href="views/detalleProducto.html">detalleProducto</a></li>
            <li><a href="views/carritoCompras.html">carritoCompras</a></li>
            <li><a href="views/formIngreso.html">formIngreso</a></li>
            <li><a href="views/formRegistro.html">formRegistro</a></li>
        </ul>
    </nav>    
</body>
</html>