<%- include("partials/head", {styles: ['styles-home', 'style-carrito'], title: 'Home'}) %>
<body>
    <%- include("partials/header") %>
    <main>
        <div class="text-izq">
            <p>Próxima exhibición,</br>jueves 21 de septiembre</p>
        </div>
        <img src="/images/banners.png">
        <div class="text-der">
            <p>PRIMAVERA SANGRIENTA</p>
        </div>
        <h2>OBRAS DISPONIBLES</h2>
        <div class="imagenes">
            <div class="articulo">
                <img src="/images/buho.jpg">
                <p>Nombre de obra - autor</p>
                <p>$precio</p>
            </div>
            <div class="articulo">
                <img src="/images/buho.jpg">
                <p>Nombre de obra - autor</p>
                <p>$precio</p>
            </div>
            <div class="articulo">
                <img src="/images/buho.jpg">
                <p>Nombre de obra - autor</p>
                <p>$precio</p>
            </div>
            <div class="articulo">
                <img src="/images/buho.jpg">
                <p>Nombre de obra - autor</p>
                <p>$precio</p>
            </div>
        </div>
        <h2>ARTISTAS DESTACADOS</h2>
        <div class="imagenes">
            <div class="articulo">
                <img src="/images/buho.jpg">
                <p>Nombre de obra - autor</p>
                <p>$precio</p>
            </div>
            <div class="articulo">
                <img src="/images/buho.jpg">
                <p>Nombre de obra - autor</p>
                <p>$precio</p>
            </div>
            <div class="articulo">
                <img src="/images/buho.jpg">
                <p>Nombre de obra - autor</p>
                <p>$precio</p>
            </div>
            <div class="articulo">
                <img src="/images/buho.jpg">
                <p>Nombre de obra - autor</p>
                <p>$precio</p>
            </div>
        </div>

    </main>
    <hr>
    <%- include("partials/footer") %>
</body>
</html>