<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="detalleProducto">detalleProducto</a></li>
            <li><a href="carritoCompras">carritoCompras</a></li>
            <li><a href="formIngreso">formIngreso</a></li>
            <li><a href="formRegistro">formRegistro</a></li>
        </ul>
    </nav>    
</body>
</html>