<%- include("partials/head", {styles: ['styles-home', 'style-carrito']}) %>
<body>
    <%- include("partials/header") %>
    <main>
        <div class="text-izq">
            <p>Próxima exhibición,</br>jueves 21 de septiembre</p>
        </div>
        <img src="/images/museo.jpg">
        <div class="text-der">
            <p>PRIMAVERA SANGRIENTA</p>
        </div>
    </main>
    <hr>
    <%- include("partials/footer") %>
</body>
</html>