<%- include("partials/head", {styles: ['style-header-footer'], title: 'Agregar o editar un producto'}) %>
<body>
    <%- include('partials/header') %>
    <main>
        


    </main>
<%- include("partials/footer") %>
</body>