body {
    font-family: 'Roboto';
}

.container {
    display: flex;
    flex-direction: column;

    width: 100%;

    text-align: center;
}

.form-container {

    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
    padding: 20px;
}

form .container h1{
    text-align: left;
    padding: 0 20px;
}

.form-container label{
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #d9d9d9;
}
/* Las etiquetas suman 1 de especificidad, las clases suman 10 y los id suman 100, si algo no me responde, debo comprobar que no sea falta o competencia de especificidad */
.boton-carrito .button-ingreso {
    background-color: #000;
    color: #fff;
    padding: 10px 50px;
    border: none;

    cursor: pointer;
    border-radius: 0;
    align-self: center;

    margin-top: 25px;
}

.boton-carrito .button-ingreso:hover{
    box-shadow: #00000072 5px 5px 1px;
    transition: 800ms;
}

.ingreso-alternativo{
    padding: 0 20px;
}

.ingreso-alternativo a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.ingreso-invitado{
    display: flex;
    flex-direction: column;
    padding: 0 20px 40px 20px;
}
.ingreso-invitado button{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
    width: fit-content;
}

/* CSS PARA VALIDACION DE FORMULARIO */
@keyframes shake {
    0% {transform: translateX(0);}

    20% {transform: translateX(-5px);}

    40% {transform: translateX(5px);}

    60% {transform: translateX(-5px);}

    80% {transform: translateX(5px);}

    100% {transform: translateX(0);}
}
.is-valid {
    color: #198754;
}

.is-invalid {
    color: red;
    border: 1px red solid;
    animation: shake 0.5s;
    animation-duration: 0.5s;
    border-radius: 2px;
}

.text-danger{
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.hacete-cuenta{
    display: flex;
    justify-content: center;
}

a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    h1{
        padding-top: 70px;
    }
}