* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
}

main {
    display: flex;
    flex-direction: column;
}

/* titulo obras */
.titulo {
    display: flex;
    justify-content: center;

}

.nombre-pintura {
    color: brown;
    justify-content: center;
    display: flex;
    margin: 4px;
}

.Descripcion {
    display: flex;
    justify-content: center;
    margin: 7px;

}

/* modificar la imagen  */



#image-principal {
    width: 90%;

}

#conteiner-image-principal {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}


#conteiner-secundary {
    display: flex;
    gap: 9px;
    height: 100%;
    justify-content: center;
}

#image-secondary {
    width: 92px;
    height: 100px;

}

/* #conteiner-image-principal,
#conteiner-secundary {
    height: 30%;
} */

/* los buttoms */
button {
    text-align: center;
    top: 10px;
    display: flex;
}

.buttom1 {
    display: flex;
    background-color: aliceblue;
    padding: 7px;
    border: 3px solid;

    /* font-size:3vw */

}

.buttom2 {
    background-color: black;
    color: aliceblue;
    padding: 7px;


    /* font-size:3vw */
}

.nombre-pintura2 {
    display: flex;
    font-weight: 800;
    padding: 15px;
    padding-top: 50px;
}

.Descripcion2 {
    display: flex;
    padding: 15px;
    font-weight: 400;
}

/* price and status accommodation */

#conteiner-main-article {
    width: 40%;
}

#main-article {
    display: flex;
    text-align: center;
}


#conteiner-secundary-article {
    width: 60%;
    font-size: 10px;
    text-align: start;
}

#status {
    padding: 2px;
    margin: 1px;
}


#conteiner-buttom {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;

}


#image-secondary {
    display: none;
}

@media (min-width:426px) {
    
    .nombre-pintura{
        position: absolute;
        left: 54%;
        top: 14%;
        padding-top: 20px ;
    }
    /* titulo obras */
    .titulo {
        position: relative;
        top: 50px;
        left: 120px;
}   
    
    
    #conteiner {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        flex-direction: row;
        /* width: 40%; */
        margin-top: 4%;
        margin-left: 1%;
        margin-bottom: 1%;
        padding: 2%;
    }
    .contenedor-imagenes{
        display: flex;
        flex-direction: column;
    }

    #conteiner-image-principal {
        width: 48%;
    }

    #conteiner-secundary {
        width: 44%;
        display: flex;
        margin: 2%;
    }

    #image-secondary {
        width: 30%;
        margin: auto;
        display: block;
    }

    #conteiner-secundary-article {
        /* display: flex;
        justify-content: end;
        align-items: center;
        left: 25% */
        left: 52%;
        position: absolute;
        top: 38%;
        width: 30%;
    }

    #conteiner-main-article {
        display: flex;
        justify-content: end;
        align-items: center;
        /* top: -32px;
        left: 37%; */
        top: 35%;
        left: 17%;
        position: absolute;
    }


    #conteiner-buttom {
        /* display: flex;
        width: 300px;
        justify-content: space-evenly;
        margin: auto; */
        /* display: flex;
        width: 60%;
        margin: auto;
        position: relative;
        top: -140px;
        left: 20%; */
        display: flex;
        position: absolute;
        top: 45%;
        left: 50%;
        width: 300px;
    }


.buttom1 {
    display: flex;
   

}

.buttom2 {
    display: flex;
    top: -10px;
    left: 30%;
    top: -5px;
  
}

.Descripcion2 {
    width: 46%;
    display: flex;
    position: absolute;
    left: 52%;
    top: 58%;

}


.nombre-pintura2 {
    position: absolute;
    left: 52%;
    bottom: 40%;
    top: 53%;
}

.Descripcion{

        position: relative;
        width: 30%;
        top: 40px;
        left: 50%;

    }
}
