* {
    font-family: 'Roboto';
}

/* titulo obras */
.titulo {
    display: flex;
    justify-content: center;

}



.nombre-pintura {
    color: brown;
    justify-content: center;
    display: flex;
    margin: 4px;
}

.Descripcion {
    display: flex;
    justify-content: center;
    margin: 7px;

}

/* modificar la imagen  */



#image-principal {
    width: 100%;

}

#conteiner-image-principal {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}




#image-secondary {
    width: 92px;
    height: 100px;

}

/* #conteiner-image-principal,
#conteiner-secundary {
    height: 30%;
} */

/* los buttoms */
button {
    text-align: center;
    top: 10px;
    display: flex;
}

.buttom1 {
    display: flex;
    background-color: aliceblue;
    padding: 7px;
    border: 3px solid;

    /* font-size:3vw */

}

.buttom2 {
    background-color: black;
    color: aliceblue;
    padding: 7px;


    /* font-size:3vw */
}

.nombre-pintura2 {
    display: flex;
    font-weight: 800;
    padding: 15px;
    padding-top: 20px;
}

.Descripcion2 {
    display: flex;
    padding: 15px;
    font-weight: 400;
}

/* price and status accommodation */

#conteiner-main-article {
    width: 40%;
}

#main-article {
    display: flex;
    text-align: center;
}


#conteiner-secundary-article {
    width: 60%;
    font-size: 10px;
    text-align: start;
}

#status {
    padding: 2px;
    margin: 1px;
}


#conteiner-buttom {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;

}


#image-secondary {
    display: none;
}
.contenedor-titulo{
    display: none;
}

<<<<<<< HEAD
@media (min-width: 426px) {
=======
@media (min-width:425px) {
    


>>>>>>> parent of b39f50a (arreglos)
    #conteiner {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        flex-direction: row;
        /* width: 40%; */
        margin-top: 4%;
        margin-left: 1%;
        margin-bottom: 1%;
        padding: 2%;
    }
    .contenedor-imagenes{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    #conteiner-image-principal {
        width: 100%;
    }

    #conteiner-secundary {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 5%;
    }

    #image-secondary {
        display: block;
        width: 100%;
    }
    .contenedor-titulo-2{
        padding-left: 10%;
        text-align: end;
    }
}





