*{
    padding:0px;
    margin: 0px;
    
}
/* titulo obras */
.titulo {
display: flex;
justify-content: center;
padding: 2px;
}

.nombre-pintura {
    color: brown;
    justify-content: center;
    display: flex;
}

