<header class="main-header">
    <!-- logo -->
    <div class=" top-header">
        <a href="/"><img class="img-logo" src="/images/logo.svg" alt="Logo de Müller Gallery" /></a>
    </div>
    <!-- menu desktop -->
    <nav class="nav-carro">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/detalle-producto">detalleProducto</a></li>
            <li><a href="/carrito-compras">carritoCompras</a></li>
            <li><a href="/ingreso">formIngreso</a></li>
            <li><a href="/registro">formRegistro</a></li>
            <li><a href="/productos"></a></li>
        </ul>
    </nav>
    <!-- menu responsivo -->
    <div class="icon-menu">
        <div class="lupa-search">
        <i class="fa fa-search"></i>
        </div>
        <div class="icon-carrito">
        <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>