 <header class="main-header">
    <!-- logo -->
    <div class=" top-header">
        <a href="/"><img class="img-logo" src="/images/logo.svg" alt="Logo de Müller Gallery" /></a>
    </div>
    <!-- menu desktop -->
    <nav class="nav-carro">
        <ul>
            <% if (locals.isLogged) { %>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/user/profile">Mi perfil</a></li>
                <li><a href="/user/logout">Logout</a></li>
            <% } else{ %>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/user/ingreso">Ingreso</a></li>
                <li><a href="/user/registro">Registro</a></li>
            <% } %>
        </ul>
    </nav>
    <!-- menu responsivo -->
    <div class="icon-menu">
        <div class="lupa-search">
        <i class="fa fa-search"></i>
        </div>
        <div class="icon-carrito">
        <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>